{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<h1>Formulario - Buscar Rutina</h1>

{% if miFormulario.errors %}

<p style="color: red;"> Están mal los datos, revisar</p>

{% endif %}
<form action="" method="POST">{% csrf_token %} 

    
    <table>
        {{ miFormulario.as_table }}
    </table>

    <input type="submit", value="Enviar">

</form>

<ul>
    {%  for rutinas in rutinases  %}
    <li> {{rutinas.id}} - {{ rutinas.nombre_rutinas }} </li>
    {% endfor %}
</ul>  

{% endblock %}